/* Styles for the top banner */
.top-banner form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.top-banner form input[type="text"] {
  font-size: 15px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #d0d0d0;
  opacity: 0.5;
  margin-right: 10px;
}

.top-banner form button[type="submit"] {
  font-size: 18px;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  background-color: #a9c1d4;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .top-banner form input[type="text"] {
    font-size: 18px;
    padding: 16px;
  }

  .top-banner form button[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* Styles for the main content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.form-container input[type="text"] {
  width: 500px;
  height: 50px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.card {
  width: calc(33.33% - 10px);
  background-color: #092134;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  float: left;
  max-width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
}

.card-body p {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: 'Nunito', sans-serif;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 800px;
}

.heading-container h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: #ffffff;
  background-color: #092134;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-family: 'Nunito', sans-serif;
}

.heading-container h3 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: #000000;
  text-shadow: 2px 2px #ffffff;
  font-family: 'Nunito', sans-serif;
  line-height: 1.2;
}
